html {
  background: #000;
  color: #fff;
}
html,
body,
.comics,
.comicList,
.comic {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
nav {
  position: absolute;
  left: 50%;
  z-index: 100;
}
nav a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.comics {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}
.comicContainer {
  height: 80%;
  margin-left: -14%;
  position: absolute;
  -moz-transition: -moz-transform 600ms ease, z-index 600ms ease, left 600ms ease, margin 600ms ease;
  -webkit-transition: -webkit-transform 600ms ease, z-index 600ms ease, left 600ms ease, margin 600ms ease;
  -webkit-transition: -webkit-transform 600ms ease, z-index 600ms ease, left 600ms ease, margin 600ms ease;
  -moz-transition: -moz-transform 600ms ease, z-index 600ms ease, left 600ms ease, margin 600ms ease;
  -o-transition: -o-transform 600ms ease, z-index 600ms ease, left 600ms ease, margin 600ms ease;
  -ms-transition: -ms-transform 600ms ease, z-index 600ms ease, left 600ms ease, margin 600ms ease;
  transition: transform 600ms ease, z-index 600ms ease, left 600ms ease, margin 600ms ease;
  top: 0;
  width: 30%;
}
.comicContainer.offset_0 {
  left: 5%;
  -webkit-transform: rotateY(100deg);
  -moz-transform: rotateY(100deg);
  -o-transform: rotateY(100deg);
  -ms-transform: rotateY(100deg);
  transform: rotateY(100deg);
  z-index: 5;
}
.comicContainer.offset_1 {
  left: 25%;
  -webkit-transform: rotateY(60deg);
  -moz-transform: rotateY(60deg);
  -o-transform: rotateY(60deg);
  -ms-transform: rotateY(60deg);
  transform: rotateY(60deg);
  z-index: 6;
}
.comicContainer.offset_2 {
  left: 50%;
  z-index: 7;
}
.comicContainer.offset_3 {
  left: 75%;
  -webkit-transform: rotateY(-60deg);
  -moz-transform: rotateY(-60deg);
  -o-transform: rotateY(-60deg);
  -ms-transform: rotateY(-60deg);
  transform: rotateY(-60deg);
  z-index: 6;
}
.comicContainer.offset_4 {
  left: 95%;
  -webkit-transform: rotateY(-100deg);
  -moz-transform: rotateY(-100deg);
  -o-transform: rotateY(-100deg);
  -ms-transform: rotateY(-100deg);
  transform: rotateY(-100deg);
  z-index: 5;
}
.comic {
  text-align: center;
}
.comic img {
  max-height: 100%;
  max-width: 100%;
}
